VITE_GEMINI_API_KEY=buraya_gemini_api_keyini_yaz

# Supabase - https://supabase.com/dashboard/project/_/settings/api
VITE_SUPABASE_URL=https://xxxxxxxxxxxx.supabase.co
VITE_SUPABASE_ANON_KEY=buraya_supabase_anon_keyini_yaz
